#title_banner {
	font-size: 80px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	background-color: #3E0067;
	text-align: center;
}

nav a {
	font-size: 20px;
	color: #ccc;
	font-family: Helvetica;
	font-weight: bold;
	padding: 8%;
}

#content {
	margin: 10px;
	border: 9px solid #777;
	padding: 5px;
	font-family: Helvetica;
}

#content a {
	color: #050361;
}

#content a:visited {
	color: #ED0884;
}